@import url("https://fonts.googleapis.com/css?family=Gayathri:400,700|Playfair+Display:400,700&display=swap");
@mixin base {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: flash 3s linear alternate;
}
@mixin line {
  stroke-dasharray: 1230;
  stroke-dashoffset: 1220;
  animation: follow 8s linear infinite;
  animation-delay: 11s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@mixin mode {
  animation-fill-mode: forwards;
}

.btn {
  display: block;
  width: 110px;
  height: 40px;
  background-color: #f1eeea;
  color: #b2a78f;
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 11px;
  margin-top: 30px;
  margin-left: 1100px;
  box-sizing: border-box;
  font-family: "Gayathri", sans-serif;
}
.btn:hover {
  background-color: #b2a78f;
  color: #f1eeea;
}
#green {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}
@keyframes slidein {
  from {
    transform: rotate(180deg);
    transform-origin: 20% 40%;
  }
  to {
    transform: rotate(-0deg);
    transform-origin: 20% 40%;
  }
}
#greenLine {
  @include line;
}
@keyframes follow {
  from {
    stroke-dashoffset: 1220;
    opacity: 100;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 100;
  }
}
#leaf {
  @include base;
  animation-delay: 9.8s;
  @include mode;
}
@keyframes flash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#letter {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: dash 7s linear alternate;
  animation-delay: 5.2s;
  @include mode;
}
@keyframes dash {
  from {
    stroke-dashoffset: 600;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#lineOne {
  @include base;
  animation-delay: 7.5s;
  @include mode;
}
@keyframes flash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#line {
  @
  animation-delay: 8.85s;
  @include mode;
}
@keyframes flash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#nameFade {
  animation: fadeIn 4s;
  animation-delay: 7s;
  opacity: 0;
  @include mode;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
#pinkLine {
  @include line;
}
@keyframes follow {
  from {
    stroke-dashoffset: 1220;
    opacity: 100;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 100;
  }
}
#rose {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: flash 8s linear alternate;
  animation-delay: 3s;
  @include mode;
}
@keyframes flash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#rose-stem {
  stroke-dasharray: 220;
  stroke-dashoffset: 100;
  animation: grow 8s linear alternate;
  animation-delay: 1s;
  @include mode;
}
@keyframes grow {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 500;
  }
}
svg {
  background-color: #f1eeea;
}
